body {
    background-color: rgb(243, 212, 170);
    font-family: "Courier New", monospace;
}

/* TEXT */

header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: hsl(29, 51%, 40%);
    border-bottom: 4px solid hsl(32, 80%, 16%);
    color: hsl(36, 73%, 24%);
  }

.head {
    text-align: center;
}

h1 {
    text-align: center;
    border: 2px black solid;
    background-color: hsl(29, 51%, 40%);
}

h2 {
    margin-bottom: 15px;
    margin-top: 50px;
}

.header {
    border: none;
    font-size: xx-large;
}

#recipelist {
    line-height: 2;
    text-align: center;
    list-style: none;
}

#recipelist li {
    display: inline;
    padding: 20px;
}

/* IMAGES */

#alfimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 600px;
}

#chowimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 700px;
}

#partyimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 900px;
}

#cookbookimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 1100px;
}