*{
    box-sizing: border-box
}

body {
    background-color: rgb(243, 212, 170);
    font-family: "Courier New", monospace;
    border-top: 5px double rgb(184, 157, 123);
    border-right: 5px double rgb(184, 157, 123);
    border-bottom: 5px double rgb(184, 157, 123);
    border-left: 5px double rgb(184, 157, 123);
    padding: 5px 5px;
}

header {
    font-style: oblique;
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: hsl(29, 48%, 17%);
    border: 4px solid rgb(184, 157, 123);
    border-radius: 12px;
    color: rgb(184, 157, 123);
  }

/* TEXT */

.head {
    text-align: center;
}

h1 {
    text-align: center;
    border: 4px rgb(184, 157, 123) solid;
    border-radius: 12px;
    background-color: hsl(29, 48%, 17%);
    color: hsla(34, 75%, 69%, 0.781)
}

h2 {
    margin-bottom: 15px;
    margin-top: 50px;
}

.header {
    border: none;
    font-size: xx-large;
}

button {
    border: 4px solid rgb(184, 157, 123);
    border-radius: 12px;
}

#alfbutton {
    text-align: center;
    display: block;
    width: 250px;
    margin: 2px auto;
    color: #333333;
    background-color: rgb(243, 212, 170);
    font-family: "Courier New", monospace;
    font-size: 17px;
    padding: 2px 6px 2px 6px;

    margin-bottom: 10px;
    border-color: rgb(184, 157, 123);
} 

#chowbutton {
    text-align: center;
    display: block;
    width: 250px;
    margin: 2px auto;
    color: #333333;
    background-color: rgb(243, 212, 170);
    font-family: "Courier New", monospace;
    font-size: 17px;
    padding: 2px 6px 2px 6px;
    
    margin-bottom: 10px;
    border-color: rgb(184, 157, 123);
} 

#partybutton {
    text-align: center;
    display: block;
    width: 250px;
    margin: 2px auto;
    color: #333333;
    background-color: rgb(243, 212, 170);
    font-family: "Courier New", monospace;
    font-size: 17px;
    padding: 2px 6px 2px 6px;
    
    margin-bottom: 10px;
    border-color: rgb(184, 157, 123);
} 

#seasoningbutton {
    text-align: center;
    display: block;
    width: 250px;
    margin: 2px auto;
    color: #333333;
    background-color: rgb(243, 212, 170);
    font-family: "Courier New", monospace;
    font-size: 17px;
    padding: 2px 6px 2px 6px;    
    margin-bottom: 10px;
    border-color: rgb(184, 157, 123);

}

 #recipelist {
    padding: 16px 8px;
    margin: 50px;
    display: block;
    padding: 20px;
}


a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: cadetblue;
    text-decoration: none;
}

/* IMAGES */

#alfimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 600px;
}

#chowimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 700px;
}

#partyimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 900px;
}

#cookbookimg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 1100px;
    border: 4px solid rgb(184, 157, 123);
    border-radius: 12px;
    margin-bottom: 48px;
}

#seasoningimg {
    display: block;
    margin: 0 auto;
}